{% extends "layout.html" %}
{% block body %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.heslo.label }}<br>
        {{ form.heslo }}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}