{% extends "layout.html" %}
{% block body %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}
    </p>
    <p>
        {{ form.kidak }}{{ form.kidak.label }}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}