{% extends "layout.html" %}
{% block body %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    <p>
        {{ form.zadania.label }}<br>
        {{ form.zadania }}
    </p>
    <p>
        {{ form.hinty.label }}<br>
        {{ form.hinty }}
    </p>
    <p>
        {{ form.vzoraky.label }}<br>
        {{ form.vzoraky }}
    </p>
    <p>
        {{ form.start.label }}<br>
        {{ form.start }}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
