{% extends "layout.html" %}
{% block body %}
<div style="max-width: 400px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
<h1>Pridaj správu</h1>
<form action="" method="post" novalidate class="form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        <input id="title" name="title" type="text" value="" style="width: 100%;" class="form-control">
    </p>
    <p>
        {{ form.content.label }}<br>
        <textarea id="content" name="content" style="width: 100%;" class="form-control"></textarea>
    </p>
    <p><input id="submit" name="submit" type="submit" value="Submit" class="form-control"></p>
</form>
</div>
{% endblock %}