{% extends "layout.html" %}
{% block body %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.heslo.label }}<br>
        {{ form.heslo }}
    </p>
    <p>
        {{ form.hint.label }}<br>
        {{ form.hint }}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location }}
    </p>
    <p>
        {{ form.skipable }}{{ form.skipable.label }}
    </p>
    <p>
        {{ form.hintable }}{{ form.hintable.label }}

    </p>
    <p>{{ form.submit() }}</p>
    </form>
{% endblock %}