{% extends "layout.html" %}
{% block body %}
<div style="max-width: 400px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
<h1>{{question.title}}</h1>
<p>{{question.question}}</p>
<form action="" method="post" novalidate class="form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.answer.label }}<br>
        <textarea id="answer" name="answer" style="width: 100%;" class="form-control"></textarea>
    </p>
    <p>
        {{ form.public }}{{ form.public.label }}
    </p>
    <p><input id="submit" name="submit" type="submit" value="Submit" class="form-control"></p>
</form>
</div>
{% endblock %}