{% extends "layout.html" %}
{% block body %}
<div style="max-width: 400px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
<h1>Change password</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}<br>
        <input id="password" name="password" required="" size="32" type="password" value="" class="form-control">
    </p>
    <p>
        {{ form.password2.label }}<br>
        <input id="password2" name="password2" required="" size="32" type="password" value="" class="form-control">
    </p>
    <p><input id="submit" name="submit" type="submit" value="Sign In" class="form-control"></p>
</form>
</div>
{% endblock %}