{% extends "layout.html" %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Šifrovačka</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/2stupen">2. stupeň</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/3stupen">3. stupeň</a>
      </li>
        {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/change_password">Change password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}