{% extends "layout.html" %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Šifrovačka 3. stupeň</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/3stupen">Home</a>
      </li>
    {% if current_user.is_authenticated and not current_user.kidak %}
      <li class="nav-item">
        <a class="nav-link" href="/3stupen/submit">Odovzdávanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/3stupen/submit_napovedne">Odovzdávanie nápovedných</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/3stupen/vysledky">Výsledky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/3stupen/spravy">Správy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/2stupen">2. stupeň</a>
      </li>
        {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/change_password">Change password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% if game_started and not game_finished %}
<div style="border-bottom: solid; border-top: solid;text-align: center;background-color: #dee2e6;">
{% if current_user.is_authenticated %}
    <h5>V zásobe máš {{current_user.hints}} hint{% if current_user.hints > 4 or current_user.hints == 0 %}ov{% elif current_user.hints > 1 %}y{% endif %}.</h5>
{% endif %}
<h5 id="countdown"></h5>

<script>
var countDownDate = new Date("{{game_end}}").getTime();
f = function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("countdown").innerHTML = "Hra končí o " + (hours ? hours + "h " : "")
  + (minutes ? minutes + "m " : "") + seconds + "s ";
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Hra skončila";
  }
}
f();
var x = setInterval(f, 1000);
</script>
</div>
{% endif %}
{% if new_message3 %}
<div class="alert alert-warning" role="alert">
  Máš nejaké neprečítané správy. <a href="/3stupen/spravy" class="alert-link">Prečítať</a>.
</div>
{% endif %}
{% endblock %}