{% extends "layout.html" %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Šifrovačka 2. stupeň</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/2stupen">Home</a>
      </li>
      {% if current_user.is_authenticated and current_user.kidak %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kolá
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for i in kola %}
            <a class="dropdown-item" href="/2stupen/kolo_{{i.cislo}}">{{i.cislo}}. kolo {{roundinfo[i.cislo-1]}}</a>
            {% endfor %}
        </div>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/2stupen/vysledky">Výsledky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/2stupen/spravy">Správy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/3stupen">3. stupeň</a>
      </li>
        {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/change_password">Change password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Log in</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% if new_message2 %}
<div class="alert alert-warning" role="alert">
  Máš nejaké neprečítané správy. <a href="/2stupen/spravy" class="alert-link">Prečítať</a>.
</div>
{% endif %}
{% endblock %}