<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<script src="../static/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<title>Šifrovačka</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<body style="background-color: #f4f7f6;">
<div style="max-width: 1140px; background-color: #fff; margin: auto; min-height: 100%;">
<div style="background-color: #d6ecff;">
<img style="max-width: 100%; height: auto;" width="4724" height="1561" src="https://2019.oh.gamca.sk/wp-content/uploads/2019/09/logo-text-1.png" class="custom-logo" alt="OH 2019" itemprop="logo" srcset="https://2019.oh.gamca.sk/wp-content/uploads/2019/09/logo-text-1.png 4724w, https://2019.oh.gamca.sk/wp-content/uploads/2019/09/logo-text-1-300x99.png 300w, https://2019.oh.gamca.sk/wp-content/uploads/2019/09/logo-text-1-768x254.png 768w, https://2019.oh.gamca.sk/wp-content/uploads/2019/09/logo-text-1-1024x338.png 1024w" sizes="(max-width: 4724px) 100vw, 4724px">
{% block nav %}
{% endblock %}
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</div>
</body>
