{% extends "layout.html" %}
{% block body %}
<div style="max-width: 400px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
<h1>Sign In</h1>
<form action="" method="post" novalidate class="form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        <input class="form-control" id="username" name="username" required="" size="32" value="" type="text" list="classes" autocomplete="off">
        <datalist id="classes">
            {% for class in classes %}
                <option value="{{class}}">
            {% endfor %}
        </datalist>
    </p>
    <p>
        {{ form.password.label }}<br>
        <input id="password" name="password" required="" size="32" type="password" value="" class="form-control">
    </p>
    <p>
        {{ form.remember }} {{ form.remember.label }}
    </p>
    <p><input id="submit" name="submit" type="submit" value="Sign In" class="form-control"></p>
</form>
</div>
{% endblock %}
