{% extends "layout_a.html" %}
{% block body %}
    <h1>Normalne</h1>
    <a href="/pridaj_sifru"><button type="button" class="btn btn-primary">Pridaj</button></a>
    <a href="/odstran_sifru"><button type="button" class="btn btn-primary">Odtran poslednu</button></a>
    {% for s in normalne %}
        <div style="border: solid">{{s.cislo}}.<br>
            <p>Nachadza sa:<br>
                {{s.location}}<br></p>
            <p>Hint:<br>
                {{s.hint}}<br></p>
            <p>Heslo: {{s.heslo}}</p>
            <p>{% if s.hintable %}H{% endif %} {% if s.skipable %}S{% endif %}</p>
        </div>
    {% endfor %}
    <h1>Napovedne</h1>
    <a href="/pridaj_sifru_n"><button type="button" class="btn btn-primary">Pridaj</button></a>
    <a href="/odstran_sifru_n"><button type="button" class="btn btn-primary">Odtran poslednu</button></a>
    {% for s in napovedne %}
        <div style="border: solid">{{s.cislo}}.<br>
            Heslo: {{s.heslo}}
        </div>
    {% endfor %}
    <h1>Kidacke</h1>
    <a href="/pridaj_kolo"><button type="button" class="btn btn-primary">Pridaj_kolo</button></a>
    <a href="/odstran_kolo"><button type="button" class="btn btn-primary">Odtran posledne</button></a>
    {% for kolo, sifry in kidacke %}
        <h2>{{kolo+1}}. kolo</h2>
        <a href="/uprav_kolo/{{kolo+1}}"><button type="button" class="btn btn-primary">Uprav</button></a>
        <p>Zacina: {{zaciatok[kolo]}}</p>
        <a href="/pridaj_sifru_k/{{kolo+1}}"><button type="button" class="btn btn-primary">Pridaj</button></a>
        <a href="/odstran_sifru_k/{{kolo+1}}"><button type="button" class="btn btn-primary">Odtran poslednu</button></a>
        {% for s in sifry %}
            <div style="border: solid">{{s.cislo}}.<br>
                Heslo: {{s.heslo}}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
