{% extends "layout3.html" %}
{% block body %}
<div style="max-width: 90%; margin: auto; padding: 10px;margin-top:30px;">
    {% if not current_user.kidak %} <a href="/3stupen/otazka"><button type="button" class="btn btn-primary">Pridaj otázku</button></a> {% endif %}
    {% if current_user.admin %} <a href="/3stupen/sprava"><button type="button" class="btn btn-primary">Pridaj správu</button></a> {% endif %}
    {% for q,m in messages %}
    {% if q %}
    <div class="alert alert-info" role="alert">
        <h3 class="alert-heading">{{m.title}}</h3>
        <p>{{m.question}}</p>
        {% if m.answer != "" %}
        <p>
            <hr>
            <h5>Odpoveď:</h5>
            {{m.answer}}
        </p>
        {% elif current_user.admin %}
        <a href="/odpoved/{{m.id}}"><button type="button" class="btn btn-primary">Odpovedať</button></a>
        {% endif %}
    </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <h3 class="alert-heading">{{m.title}}</h3>
        <p>{{m.content}}</p>
        {% if current_user.admin %}
            <a href="/remove_message{{m.id}}"><button type="button" class="btn btn-primary">Odstrániť</button></a>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
