{% extends "layout3.html" %}
{% block body %}
<div style="max-width: 600px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
    <h1>Šifra číslo {{ sifra.cislo }}</h1>
    <h3>Šifra sa nachádza:</h3>
    {{ sifra.location }}
    <br><br>
    <form action="" method="post" novalidate class="form form-horizontal">
        {{ submit_form.hidden_tag() }}
        <p>
            {{ submit_form.solution.label }}<br>
            <input class="form-control" id="solution" name="solution" required="" size="32" value="" type="text">
        </p>
        <p><input id="submit" class="btn btn-success btn-lg" name="submit" value="Submit" type="submit"></p>
    </form>
    {% if not hinted and sifra.hintable %}
        <button type="button" class="btn btn-secondary {% if current_user.hints == 0 %}disabled"{% else %}" data-toggle="modal" data-target="#myModal"{% endif %}>Použi hint</button>

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog" style="max_width: 400px">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Hint</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <p>Naozaj chceš použiť hint?</p>

              </div>
              <div class="modal-footer">
              <div style="height: 40px;">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: right;width: 100px; height: 100%;">Cancel</button>
                  <form action="" method="post" novalidate style="float: right; margin-right: 1em">
                    {{ hint_form.hidden_tag() }}
                    <input id="hint" name="hint" class="btn btn-primary" value="Použi hint" type="submit" style=";width: 100px;  height: 100%;">
                </form>
              </div>
              </div>
            </div>

          </div>
        </div>
    {% endif %}
    {% if sifra.skipable %}
        <button type="button" class="btn btn-secondary {% if (current_user.hints == 1 and not hinted) or current_user.hints == 0 %}disabled"{% else %}" data-toggle="modal" data-target="#myModal2"{% endif %}>Preskočiť šifru</button>

        <div id="myModal2" class="modal fade" role="dialog">
          <div class="modal-dialog" style="max_width: 400px">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Preskočiť šifru</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Naozaj chceš preskočiť šifru? Bude ťa to stáť {% if hinted %} 1 hint{% else %} 2 hinty{% endif %}.</p>

              </div>
              <div class="modal-footer">
              <div style="height: 40px;">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: right;width: 100px; height: 100%;">Cancel</button>
                  <form action="" method="post" novalidate style="float: right; margin-right: 1em">
                    {{ skip_form.hidden_tag() }}
                    <input id="skip" name="skip" class="btn btn-primary" value="Preskoč" type="submit" style=";width: 100px;  height: 100%;">
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
        <br>
    {% endif %}
        {% if hinted %}
            <h3>Hint:</h3>
            {{ sifra.hint }}
        {% endif %}
    </div>
{% endblock %}