{% extends "layout2.html" %}
{% block body %}
<div style="max-width: 600px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
<h1>{{kolo.cislo}}. kolo</h1>
    <p>
    {% if show_content %}<a href="/zadania{{kolo.cislo}}"><button type="button" class="btn btn-primary">Stiahni zadania</button></a>{% endif %}
    {% if show_hints %}<a href="/hinty{{kolo.cislo}}"><button type="button" class="btn btn-primary">Stiahni hinty</button></a>{% endif %}
    {% if finished %}<a href="/vzoraky{{kolo.cislo}}"><button type="button" class="btn btn-primary">Stiahni vzoráky</button></a>{% endif %}
    {% if not show_content %}<h4>Kolo začína {{start}}</h4>{% endif %}
    {% if not show_hints %}<h4>Hinty budú zverejnené {{hints}}</h4>{% endif %}
    {% if finished %}<h4>Kolo už skončilo</h4>{% endif %}
    </p>
    {% if show_content %}
    {% for i in range(n) %}
        <div>
            <h2>Šifra číslo {{ i + 1 }}</h2>
            {% if solved[i] %}
            <h5 style="color:forestgreen">Vyriešená</h5>
            {% elif not finished %}
            <form action="/2stupen/kolo_{{kolo.cislo}}/{{i+1}}" method="post" novalidate class="form form-horizontal">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.solution.label }}<br>
                    <input class="form-control" id="solution" name="solution" required="" size="32" value="" type="text">
                </p>
                <p><input id="submit" class="btn btn-success btn-lg" name="submit" value="Submit" type="submit"></p>
            </form>
            {% else %}
            <h5 style="color:red">Nevyriešená</h5>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    </div>
{% endblock %}
