{% extends "layout3.html" %}
{% block body %}
<div style="max-width: 600px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
{% for i in range(n) %}
    <h1>Nápovedná číslo {{ i+1 }}</h1>
    {% if solved[i] %}
        <h5 style="color:forestgreen">Vyriešená</h5>
    {% else %}
    <form action="/3stupen/submit_napovedne/{{i+1}}" method="post" novalidate class="form form-horizontal">
        {{ form.hidden_tag() }}
        <p>
            {{ form.solution.label }}<br>
            <input class="form-control" id="solution" name="solution" required="" size="32" value="" type="text">
        </p>
        <p><input id="submit" class="btn btn-success btn-lg" name="submit" value="Submit" type="submit"></p>
    </form>
    {% endif %}
{% endfor %}
    </div>
{% endblock %}