{% extends "layout_a.html" %}
{% block body %}
<a href="/add_user"><button type="button" class="btn btn-primary">Pridaj</button></a>
{% for u in users %}
<div style="border: solid">
    <p>{{ u.name }}</p>
    <a href="/delete_user/{{u.id}}"><button type="button" class="btn btn-primary">Odstran</button></a>
</div>
{% endfor %}
{% endblock %}

