{% extends "layout3.html" %}
{% block body %}
<div style="max-width: 1000px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
<h1>Výsledky</h1>
{% if not game_finished %}<p>Počas hry vidíš len časy na šifrách ktoré si už vyriešil.</p>{% endif %}
<table class="table table-bordered table-responsive" style="border: none;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trieda</th>
        {% for i in range(s) %}
            <th scope="col">{{i+1}}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i,u in users %}
    <tr>
      <th scope="row">{{i+1}}.</th>
      <td>{{u.name}}</td>
        {% for i in range(s) %}
            <td{% if submits[u][i] %} style="background-color: {% if submits[u][i].skip %}red{% elif submits[u][i].hint %}yellow{% else %}green{% endif %};">{{submits[u][i].date_time.strftime("%H:%M")}}{%else%}>{% endif %}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
