{% extends "layout2.html" %}
{% block body %}
<div style="max-width: 1000px; margin: auto; padding: 10px; background-color:#fff; margin-top:30px;">
<h1>Výsledky</h1>
Pri každom kole sú 3 čísla:
<ol>
  <li>Celkový počet vyriešených šifier</li>
  <li>Počet šifier ktoré boli vyriešené až po zverejnení hintov</li>
  <li>Súčet počtu zlých odpovedí a dní koľko vám trvalo vyriešiť jednotlivé šifry
</ol>

<table class="table table-bordered table-responsive" style="border: none;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trieda</th>
      <th scope="col" colspan=3>Celkovo</th>
      {% for s in sifry %}
        <th scope="col" colspan=3>{{s}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i,u in users %}
    <tr>
      <th scope="row">{{i+1}}.</th>
      <td>{{u[1].name}}</td>
      <td>{{u[0][0]}}</td>
      <td>{{u[0][1]}}</td>
      <td>{{u[0][2]}}</td>
      {% for k in round_scores[u[1]] %}
        <td>{{k[0]}}</td>
        <td>{{k[1]}}</td>
        <td>{{k[2]}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}